# Pandas 
## Tutorial 1 - Getting Started


Firstly, load pandas into notebook

In [1]:
import pandas as pd

### DataFrames and Series
To store data of various data types

df = pd.DataFrame(
    {
        "Name": [
            "Mendamenda, Mr. Lonjezo",
            "Mendamenda, Miss. Shiloh",
            "Phiri, Mr. Jesse",
        ],
        "Age": [10, 4, 4],
        "Sex": ["male", "female", "male"]
    }
)

To call the data frame that was just created

In [3]:
df

                       Name  Age     Sex
0   Mendamenda, Mr. Lonjezo   10    male
1  Mendamenda, Miss. Shiloh    4  female
2          Phiri, Mr. Jesse    4    male

To select the data from the **Age** column, use the column label in between square brackets [ ]

In [4]:
df["Age"]

0    10
1     4
2     4
Name: Age, dtype: int64

To create a **Series** from scratch:

In [5]:
ages = pd.Series([10,4,4], name="Age")

Call the **Series** created by its name *ages*

In [6]:
ages

0    10
1     4
2     4
Name: Age, dtype: int64

### Max method
To get the *maximum* age, use the **max( )** method. You can either get the *maximum* age from the data frame or the Series.
To get the *maximum* age from the data frame do the following:

In [7]:
df["Age"].max()

10

To get the *maximum* age from the series created, run the following:

In [8]:
ages.max()

10

If you are interested to see some *basic statistics* of the numerical data from the created data table, use the *describe( )* function as follows:

In [10]:
df.describe()

             Age
count   3.000000
mean    6.000000
std     3.464102
min     4.000000
25%     4.000000
50%     4.000000
75%     7.000000
max    10.000000

The *describe( )* shows and overview of the numerical data in the DataFrame. It is important to note that the *describe( )* the *Name* and *Sex* are not accounted for because they are not numerical data in nature.

#### Keep in Mind
* Import the package - **import pandas as pd**
* A table of data is stored as a pandas **DataFrame**
* Each column in **DataFrame** is a **Series**
* You can do things by applying a method to a **DataFrame** or **Series**